<head>
    <title><%= title %> | sistem informasi penjualan kacamata</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap-extend-->
    <link rel="stylesheet" href="/css/bootstrap-extend.css" />
    <!-- theme style-->
    <link rel="stylesheet" href="/css/master_style.css" />
    <!-- Crypto_Admin skins-->
    <link rel="stylesheet" href="/css/skins/_all-skins.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9-->
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT-->
