<!-- Left side column. contains the sidebar-->
<aside class="main-sidebar" style="background: #cf000f">
    <!-- sidebar-->
    <section class="sidebar">
        <!-- Sidebar user panel-->
        <div class="user-panel">
            <div class="ulogo">
                <a href="index.html">
                    <!-- logo for regular state and mobile devices--><span><b>SI</b>Kacamata</span></a>
            </div>
            
              <div class="image"><img class="rounded-circle" src="/images/logo.jpg" alt="User Image" /></div>
              <div class="info">
                  <a
                      class="link" href="/logout" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
              </div>
            
        </div>
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
          
            <li class="nav-devider"></li>
            <li class="header nav-small-cap">Menu</li>
            <li><a href="/data_frame"><i class="fa fa-info"></i><span>Data Frame</span></a></li>
            <li><a href="/data_lensa"><i class="fa fa-info "></i><span>Data Lensa</span></a></li>
            <li><a href="/transaksi"><i class=" fa fa-info "></i><span>Transaksi</span></a></li>
            <li><a href="/status"><i class=" fa fa-info "></i><span>Status pemesanan</span></a></li>
            <li><a href="/laporan"><i class=" fa fa-info "></i><span>Laporan</span></a></li>
        </ul>
    </section>
</aside>
