<html>
<% include ../../templates/tag_head %>
<body class="hold-transition skin-yellow static sidebar-mini">
    <!-- Site wrapper-->
    <div class="wrapper">
        <% include ../../templates/tag_navbar %>

        <% include ../../templates/tag_sidebar %>

        <!-- ===============================================-->
        <!-- Content Wrapper. Contains page content-->
        <div class="content-wrapper">
            <!-- Content Header (Page header)-->
            <section class="content-header">
                <h1>Add Lensa</h1>
                
            </section>
            <!-- Main content-->
            <section class="content">
              
                <!-- Default box-->
                <!-- Default box-->
                <form action="" method="post">
                  <div class="box">
                      <div class="box-header with-border">
                          <h3 class="box-title">Adding data frame</h3>
                          <div class="box-tools pull-right"><button class="btn btn-box-tool" type="button" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button><button class="btn btn-box-tool" type="button" data-widget="remove" data-toggle="tooltip"
                                  title="Remove"><i class="fa fa-times"></i></button></div>
                      </div>
                      <div class="box-body">
                        <table class="table">
                          <tr>
                          </tr>
                          <tr>
                            <td>
                              Lensa
                            </td>
                            <td>
                              <input type="text" name='lensa' class='form-control'/>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Harga
                            </td>
                            <td>
                                <input type='text' name='harga' class='form-control' value=""/>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              stock
                            </td>
                            <td>
                                <input type='text' name='stock' class='form-control' value=""/>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!-- /.box-body-->
                      <div class="box-footer">
                        <button class='btn btn-block btn-black'>ADD!</button>
                      </div>
                      <!-- /.box-footer-->
                      <!-- /.box-->
                      <!-- /.content-->
                  </div>
                </form>
            </section>
        </div>
        <!-- /.content-wrapper-->

        <% include ../../templates/tag_foot %>
    </div>
    <!-- ./wrapper-->
    <% include ../../templates/tag_script %>
</body>

</html>
