<% include ../templates/tag_head %>
<body class="hold-transition skin-yellow static sidebar-mini">
<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST" autocomplete="off">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password system">
                            </div>
                            <input type="submit" id="sendlogin" class="btn btn-primary" value="login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <% include ../templates/tag_script %>

</body>
</html>